/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining profiles with parameter presets specific to the Birneylab
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    medaka {
        params {
            genome            = null
            igenomes_ignore   = true
            vep_species       = "oryzias_latipes"
            vep_genome        = "ASM223467v1"
            vep_cache_version = "110"
        }   
    }
}